
body {
    overflow-x: hidden;
} 

html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    box-sizing: border-box;
}

.main_row {
    height: 100%;
    width: 100%;
    display: table-row;
}

.row .no-float {
    display: table-cell;
    float: none;
}

#chat-header{ 
    background: #CC425B; 
}

.game_title { 
    color: white; 
    padding: 15px;
    font-size: 30px;
}

#game-title {
    font-weight: bold;
}

.game_description p { 
    color: white; 
    padding: 15px;
    font-size: 1.15em;
}

.sidebar-wrapper {
    background: #872C3C;
    color: white;
    padding: 10px;
    font-size: 1.4em;
}

.sidebar-wrapper li { 
    list-style-type: none; 
    margin: auto;
}

.sidebar-nav a { 
    color: white; 
}


#logo {
    padding: 5px;
    max-width:270px;
    max-height:270px;
    margin: auto;
}

.sidebar-buttons {
    margin-bottom: 10px;
}

#sidebar-channel-names {
    display: none;
}

#chat-body { 
    display: block;
    margin-bottom: 75px;
}

.messages-logged-out p { 
    padding: 20px 20px 20px 0px;
}

.messages-logged-out {
    padding: 0px 15px 10px 15px;
    font-size: 1.25em;
    border: 2px solid white;
    background-color: #FFF7F9;
}

.message-item {
    padding: 10px 15px 10px 15px;
    font-size: 1.25em;
    background-color: #FFF7F9;
}

.each-message {
    background-color: #FFF7F9;
    padding: 0px 15px 10px 15px;
    border: 2px solid white;
}

.profile-pic {
  padding: 5px;
  max-height:65px;
  max-width:65px;
}

.username {
  font-weight: bold;
}

#news-headline { 
  color: white;
  background-color: black;
  font-size: 1.25em;
  text-align: center;
}

#news { 
  font-size: 1.5em;
  background-color: #F5F4F5; 
}

.game-news {
  border: 1px dotted black;
  margin: 10px;
  text-align: center;
}

.news-images {
  width: 532px;
  height: 282px;
  padding: 10px;
}

#chat-footer {
  padding:10px;
  background-color: #CC425B;
  bottom:0px;
  right:0px;
  position: fixed;
  width: 100%
}

#chat-entertexthere {
  width: 100%;
} 

/* unvisited link */
.game_description a:link {
    color: #A9F5F5;
}
/* visited link */
.game_description a:visited {
    color: #A9F5F5;
}
/* mouse over link */
.game_description a:hover {
    color: #A9F5F5;
}
/* selected link */
.game_description a:active {
    color: #A9F5F5;
}

.fb-login { 
    color: black;
    margin:5px;
}

.gh-login { 
    color: black;
    margin:5px;
}

.btn-logout { 
    color: black;
    margin:5px;
}

.btn-sidebar {
  margin: 10px;
}