body {
    overflow-x: hidden;
}

.sidebar-wrapper {
	background: #872C3C;
	color: white;
  padding: 30px;
  font-size: 20px;
}

.sidebar-wrapper li { 
	list-style-type: none; 
}

html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    box-sizing: border-box;
}

.main_row {
    height: 100%;
    width: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

#chat-header{ 
  background: #CC425B; 
}

#page-footer{ 
  background: #CC425B; 
  position:absolute; 
  bottom:0; 
  width:100%;  
  color: white; 
  text-align: center;
  padding: 5px;
  height:40px;
}

#chat-footer {
  padding:20px;
  background: #872C3C;
  bottom:40px;
  left:0;
  right:0;
  position: absolute;
}

#chat-messages {
  width: 100%;
} 

#game_title { 
    color: white; 
    padding: 15px;
    font-size: 30px;
}

.game_description p { 
    color: white; 
    padding: 15px;
}

/* unvisited link */
a:link {
    color: #A9F5F5;
}
/* visited link */
a:visited {
    color: #A9F5F5;
}
/* mouse over link */
a:hover {
    color: #A9F5F5;
}
/* selected link */
a:active {
    color: #A9F5F5;
}

.sidebar-nav a { 
    color: white; 
    font-size: 20px;
}

#chat-body { 
    background-color: #FFF7F9; 
}

.profile-picture { 
    width: 130px; 
    padding: 15px;
}

.message { 
    padding: 20px 20px 20px 0px ;
}

#btn-login { 
    color: black;
}

.chat-message {  
    border: 1px solid white;
}